.not-found {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/images/notFound.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#notFound-btn {
    width: 200px;
    border: none;
    outline: none;
    background-color: transparent;
}